<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="estilo.css")
    body
        h1 ABC company
        nav  
            #toggle-menu Menu
            ul.menu
                each item in ['Home','About','Contact','Service','Products']
                    li: a(href="#")=item
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="script.js")